#bento-box {
    display: grid;
    grid-template-columns: 140px 130px 130px;
    grid-template-rows: 77px 90px 100px 100px 100px;
    grid-template-areas:
    "g-1 g-1 g-3"
    "g-2 g-2 g-3"
    "g-4 g-5 g-5"
    "g-4 g-5 g-5"
    "g-4 g-6 g-6";
}
#bento-1 {
    display: grid;
    grid-area: g-1;
}
#bento-2 {
    display: grid;
    grid-area: g-2;
}
#bento-3 {
    display: grid;
    grid-area: g-3;
}
#bento-4 {
    display: grid;
    grid-area: g-4;
}
#bento-5 {
    display: grid;
    grid-area: g-5;
}
#bento-6 {
    display: grid;
    grid-area: g-6;
}